@font-face {
    font-family: 'Garamond';
    src: local('Garamond'), url("../fonts/libre-franklin/LibreFranklin-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --main-color: #d7c7ae;
    --primary-color: #8a6d46;
    --hover: #5a4d3e;
    --black: #2a201c;
    --white: #fff;
    --light-bg: rgba(0,0,0,.7);
    --border:.1rem solid #aaa;
    --box-shadow:0.5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Garamond', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
    width: .6rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

section{
    padding: 5rem 7%;
}

.heading{

    text-align: center;
    color: var(--primary-color);
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-size: 4rem;

}

.header{

    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    /* box-shadow: var(--box-shadow); */
    position: sticky;
    top: 0;
    left: 0; right: 0;
    background: var(--main-color);
    z-index: 1000;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
    text-transform: capitalize;
}

/* .header .navbar #close-navbar{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: var(--black);
    display: grid;
} */

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover{
    padding-bottom: 0.5rem;
    color: var(--primary-color);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/home-bg2.png);
    background-size: cover;
    background-position: center;
}

.home .content{

    font-size: 3rem;
    letter-spacing: .5rem;
    padding-bottom: .5rem;
    color:var(--primary-color);
    text-transform: uppercase;
}

.home .content h3{
    color: var(--black);
    font-size: 8rem;
    line-height: 8rem;
    font-weight: 900;
}


/*  about us */

.about{
    background-repeat: no-repeat;
    background-position: left bottom;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 39rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 51rem;
    padding: 5rem;
}

.about .row .content h3{
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--primary-color);
}

.about .row .content p{
    font-size: 1.6rem;
    color: #444;
    padding: 1rem 0;
    line-height: 1.8;
}

.about .row .content .icon-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}


.about .row .content .icon-container .icons{
   flex: 1 1 16rem;
   text-align: center;
   background: var(--main-color);
   padding: 3rem 2rem;
}

.about .row .content .icon-container .icons img{
   height: 5rem;
 }

 .about .row .content .icon-container .icons h3{
    padding-top: 1rem;
    font-size: 1.6rem;
    color: #444;
    font-weight: normal;
    text-transform: capitalize;
  }

  .services{
    background-color: var(--main-color);
  }

  .services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
  }

  .services .box-container .box{
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .services .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.services .box-container .box:hover img{
transform: scale(1.1);
}

.services .box-container .box .content{
align-items: center;
justify-content: center;
position: absolute;
top: 0; left: 0;
z-index: 10;
height: 100%;
width: 100%;
background: var(--dark-bg);
display: none;
}

.services .box-container .box .content h3{
    text-align: center;
    font-size: 3rem;
    color: var(--black);
    padding-top: 40rem;
    text-transform: capitalize;
}

.services .box-container .box:hover .content{
    display: flex;
}


/* .pricing {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.pricing .box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

/* Blogs */

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

.blogs .box-container .box{
   background: var(--main-color);
   padding-top: 0%;
}

.blogs .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
    padding-top: 1rem;
}

.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
   padding: 2rem;
}

.blogs .box-container .box .content .title{
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--black);
 }

 /* .blogs .box-container .box .content .title:hover{
    color: var(--main-color);
 } */

 .blogs .box-container .box .content span{
    color: var(--black);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
 }

 .blogs .box-container .box .content p{
    color: var(--black);
    line-height: 1.8rem;    
    padding: 1rem 0;
    font-size: 1.5rem;
 }



   /* reviews */
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-container .box .quote {
    width: 50px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--black);
    padding: 2rem 0;
    margin-top: 60px;
}

.review .box-container .box .reviewer {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    object-fit: cover;
    margin: 0 auto;
}

.review .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--primary-color);
}

        /* Map */

.map {
    width: 100%;
    height: auto; 
}


.box {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
}

.box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    border: none;
}


 /* Kontakt  */

.kontakt {
    max-width: 1200px;
    margin: 0 auto; 
}

.kontakt .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    -webkit-text-size-adjust: auto;
}

.kontakt .box-container > * {
    border: var(--box-shadow);
    text-align: left;
    padding: 3rem 2rem;
    position: relative;
    line-height: 2.5rem;
}

.kontakt .box-container > * h3 {
    color: var(--black);
    padding: 1rem 0;
    text-align: center;
}

.kontakt .box-container .box td{
    padding-left: 40px;
}

.kontakt .box-container .box{
    font-size: 2rem;
}
.kontakt .box-container .box navigation{
    padding-right: 40px;
}


 .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.logo-image {
    height: 40px; /* Passe die Höhe des Logos an */
    margin-right: 10px; /* Abstand zwischen Logo und Text */
}

.footer{

    background-color: var(--main-color);
    font-size: 1.5rem;
}

.footer a{
    display: inline-block;
}

.footer .publisher{

    text-align: right;
}

.footer .copyRight{
    text-align: left;
}