:root {
    --primary-color: #ebe4dd;
    --secondary-color: #ddd;
    --text-color: #333;
    --link-color: #615e5c;
    --link-hover-color: #8e8472;
    --nav-background-color: #f8f8f8; /* Hintergrundfarbe für die Navigationsleiste */
    --dropdown-hover-color: #f1f1f1; /* Farbe für Dropdown-Links beim Überfahren */
}

body {
    font-family: 'Georgia', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: var(--nav-background-color);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: var(--link-color);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--link-hover-color);
}

main {
    padding: 2rem;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.instagram-post, .contact-info {
    flex: 1;
    margin-right: 2rem;
}

.instagram-post:last-child {
    margin-right: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid var(--secondary-color);
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: white;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

/* Dropdown Button */
.dropbtn {
    background-color: var(--nav-background-color);
    color: var(--link-color);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: var(--nav-background-color);
    color: var(--link-hover-color);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--dropdown-hover-color)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--nav-background-color);
    color: var(--link-hover-color);
}
